# Python
- 컴퓨터의 CPU, RAM, SSD를 활용하기 위해서 학습
1. 변수선언 : RAM 사용 문법 : 식별자(저장공간을 구분하는 문자열) : PEP20, PEP8(autopep8,flake8)
2. 데이터타입 : RAM 효율적 사용 문법 : int, float, bool, str, list, tuple, dict, set
3. 연산자 : CPU 사용 문법 : 산술, 비교, 논리, 할당, 멤버 ...
4. 조건문, 반복문 : if, elif, else : while, for, break, continue, range() ...
5. 함수 : 반복 사용되는 코드를 묶어서 코드 작성 실행 : def, return, scope(global), lambda ...
6. 클래스 : 변수, 함수를 묶어서 코드 작성 실행 : 객체지향 구현 : class, self, special methods(생성자)
7. 모듈 : 변수, 함수, 클래스를 파일로 묶어서 코드 작성 실행 : 확장자 .py
8. 패키지 : 여러개의 모듈을 디렉토리로 묶어서 관리 : 버전정보 : import, from, as
9. 입출력 : SSD 사용 문법 : RAM(object) > SSD(file), SSD(file) > RAM(object) : pickle

In [3]:
# import this

# Class
- 변수, 함수를 묶어서 코드 작성 실행
- 객체지향 구현 : 실제세계를 모델링하여 프로그램을 개발하는 개발 방법론 : 협업이 용이함
- 함수사용 : 함수선언(코드작성) > 함수호출(코드실행)
- 클래스사용
    - 클래스선언(코드작성:설계도작성) > 객체생성(메모리사용:제품생산) > 메서드실행(코드실행:제품사용)
    - 메서드 : 클래스안에 선언되는 함수
- class 식별자 : UpperCamelCase, PascalCase(O), snake_case(X:변수,함수)

In [13]:
# 1. 클래스선언 : 코드작성
# 예금계좌 : Account : balance, deposit(), withdraw() 
class Account:
    balance = 0
    def deposit(self, amount):
        self.balance += amount
    def withdraw(self, amount):
        self.balance -= amount

In [15]:
# 2. 객체생성 : 메모리사용
acc1 = Account()
acc2 = Account()

In [21]:
# dir() : 객체 안에 들어있는 변수, 함수 목록 출력
dir(acc1)[-3:], dir(acc2)[-3:]

(['balance', 'deposit', 'withdraw'], ['balance', 'deposit', 'withdraw'])

In [27]:
acc1.balance = 1000

In [29]:
acc1.balance, acc2.balance

(1000, 0)

In [31]:
# 3. 메서드실행 : 코드실행
acc1.balance, acc2.balance

(1000, 0)

In [33]:
acc1.withdraw(600)
acc2.deposit(3000)

In [35]:
acc1.balance, acc2.balance

(400, 3000)

In [ ]:
# pandas DataFrame
# 클래스선언(다른사람) > 객체생성(사용1) > 메서드호출(사용2)

In [40]:
# 1. 클래스선언 : 다른 사람이 만든 클래스 가져옴
import pandas as pd

In [42]:
# 2. 객체생성
df = pd.DataFrame({'id': list('123'), 'name': list('ABC')})
df

  id name
0  1    A
1  2    B
2  3    C

In [50]:
# 3. 메서드호출
# dir(df)
# help(df.sum)
df.sum()

id      123
name    ABC
dtype: object

In [54]:
df.T

      0  1  2
id    1  2  3
name  A  B  C

In [56]:
# 변수, 함수는 둘다 객체입니다.
# 클래스는 사용자정의 데이터타입 입니다.

In [60]:
# acc 객체 클래스 : Account : balance, withdraw(), deposit()
# acc 객체 데이터타입 : Account
# > 클래스는 데이터타입 입니다.
# Account 클래스는 우리가 만듦 : 사용자정의
# > 클래스는 사용자정의 데이터타입 입니다.
acc = Account()
type(acc)

__main__.Account

In [62]:
# data1 객체 데이터타입 : str
# data1 객체 클래스 : str : upper(), lower(), join() ...
data1 = 'python'
type(data1)

str

In [72]:
dir(data1)[-3:]

['translate', 'upper', 'zfill']

In [86]:
# help(data1.upper)

In [68]:
# data2 객체 데이터타입, 클래스 : list
data2 = [1, 3, 2]
type(data2)

list

In [78]:
dir(data2)[-3:]

['remove', 'reverse', 'sort']

In [84]:
# help(data2.sort)

In [82]:
# > 객체는 어떤 데이터타입(클래스)인지에 따라서 사용가능한 변수,메서드가 달라집니다.

In [66]:
import numpy as np
arr = np.array([1, 2, 3])
type(arr), arr

(numpy.ndarray, array([1, 2, 3]))

In [108]:
%reset
# 현재 선언된 변수 초기화

Once deleted, variables cannot be recovered. Proceed (y/[n])?  y

In [110]:
# 변수, 함수는 둘다 객체입니다.
data = 1

In [112]:
def plus():
    return 1 + 2

In [114]:
type(data), type(plus)

(int, function)

In [116]:
%whos
# 현재 선언된 객체 목록 출력

Variable               Type        Data/Info
--------------------------------------------
data                   int         1
dataframe_columns      function    <function dataframe_colum<...>ns at 0x000001ECC1465940>
dataframe_hash         function    <function dataframe_hash at 0x000001ECC26398A0>
dtypes_str             function    <function dtypes_str at 0x000001ECC263ADE0>
get_dataframes         function    <function get_dataframes at 0x000001ECC263AB60>
getpass                module      <module 'getpass' from 'C<...>conda3\\Lib\\getpass.py'>
hashlib                module      <module 'hashlib' from 'C<...>conda3\\Lib\\hashlib.py'>
import_pandas_safely   function    <function import_pandas_s<...>ly at 0x000001ECC263C400>
is_data_frame          function    <function is_data_frame at 0x000001ECC263B420>
json                   module      <module 'json' from 'C:\\<...>\Lib\\json\\__init__.py'>
plus                   function    <function plus at 0x000001ECC26396C0>

In [118]:
# special methods 
# - 특별한 기능을 하는 메서드
# - 앞뒤로 __가 붙은 메서드
# - 대표적으로 생성자 메서드

In [ ]:
# 생성자 메서드 : __init__(self)
# - 특별한 기능 : 객체 생성시 실행되는 메서드

In [164]:
# 클래스선언
class Account:
    # 생성자 메서드 : 메서드에서 사용되는 변수의 초기값 설정하는 용도 사용
    def __init__(self, balance):
        self.balance = balance
    def deposit(self, amount):
        self.balance += amount
    def withdraw(self, amount):
        self.balance -= amount

In [166]:
# 객체생성 : 메모리사용 : 원자재사용
acc = Account(1000)

In [168]:
# 메서드호출 : 불량품 생산
acc.deposit(1000)

In [170]:
acc.balance

2000

In [ ]:
# mangling(private variable), getter, setter 내용을 같이

In [172]:
d1, d2 = 1, 2
d3, d4 = '3', '4'

In [174]:
type(d1), type(d2), type(d3), type(d4)

(int, int, str, str)

In [176]:
# 데이터 타입이 다르면 같은 연산자라도 다르게 연산 수행 됩니다.
d1 + d2, d3 + d4

(3, '34')

In [182]:
# __add__ : + 연산자에 대한 코드 정의
# dir(d1)
d1.__add__(d2) # int 클래스의 __add__() 메서드 호출

3

In [186]:
# dir(d3)
d3.__add__(d4) # str 클래스의 __add__() 메서드 호출

'34'

In [194]:
class Number:
    def __init__(self, data):
        self.data = data
    def __add__(self, obj):
        self.data -= obj.data
        return self.data

In [196]:
num1 = Number(3)
num2 = Number(2)

In [198]:
num1 + num2

1

In [200]:
dir(num1)

['__add__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'data']